@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(247, 247, 245, 1);

  color: rgba(8, 10, 10, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-a-header.is-open .e-a-header-background {
  left: 0;
}
.e-a-header-button-wrapper {
  margin-left: auto;
}
.e-a-header-icon {
  display: none;
}

.e-a-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-a-navigation-list.is-open {
  right: 0;
}
.e-a-header-icon-menu {
  display: block;
}

.e-a-header-icon-button.is-open .e-a-header-icon-menu {
  display: none;
}

.e-a-header-icon-button.is-open .e-a-header-icon-close {
  display: block;
}

.e-a-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: #ddebec;
}

.e-a-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ddebec;
}
.e-a-header.is-open .e-a-header-background {
  left: 0;
}
.e-a-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-a-header-icon-menu {
  display: block;
}

.e-a-header-icon-button.is-open .e-a-header-icon-menu {
  display: none;
}

.e-a-header-icon-button.is-open .e-a-header-icon-close {
  display: block;
}

.e-a-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.e-a-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 740px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px 60px;
  gap: 60px;
  background: #fbdaa78c;
  backdrop-filter: blur(22px);
}

.e-a-navigation-list.is-open {
  right: 0;
}

.e-a-navigation-link {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #010101;

  border-radius: 12px;
  padding: 16px;
}

.e-a-navigation-link:hover,
.e-a-navigatioт-link:focus {
  background: #f7f7f5;
}

.e-a-header.is-open {
  background-color: transparent;
}

.e-a-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .e-a-navigation-img {
    display: flex;
    font-family: Inter;
    font-weight: 900;
    font-size: 34px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    color: #010101;
    text-decoration: none;
    margin-right: 500px;
  }
  .e-a-header-button-wrapper {
    display: none;
  }
  .e-a-policy-terms-header-icon-menu {
    display: none;
  }

  .e-a-header {
    width: 100%;
    height: 77px;
    display: flex;
    z-index: 1000;
    border-radius: 12px;
  }

  .e-a-header-background {
  }
  .e-a-header-icon-button {
    display: none;
  }
  .e-a-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-a-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 12px;
    height: 0px;
    display: flex;
    padding: 0;
    padding-left: 40px;

    align-items: center;
    justify-content: center;
  }

  .e-a-navigation-link {
    border-radius: 12px;
    padding: 16px;
    background: #fbdaa7;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .e-a-navigation-item-desk {
    display: none;
  }
}
.e-a-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/one/Pagina\ 1_\ Essenza.png");
  margin: auto;
}
.e-a-home-container {
  width: 375px;
  padding: 108px 39px 0px;
  margin: auto;
  color: rgba(247, 247, 245, 1);
}

.e-a-home-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 58px;
  leading-trim: Cap height;

  color: rgba(247, 247, 245, 1);
  text-align: 1px 2px 4px rgba(0, 0, 0, 0.45);
}
.e-a-home-title-two {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 35px;
}

@media screen and (min-width: 1200px) {
  .e-a-home {
    width: 1440px;
    background-image: url("/img/one/Pagina\ 1_\ Essenza\ \(1\).png");
  }
  .e-a-home-container {
    width: 1440px;
    padding: 343px 140px 0px;
  }
  .e-a-home-container-top {
    width: 508px;
    align-items: start;
  }

  .e-a-home-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 58px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .e-a-home-title-two {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 35px;
  }
}
.e-a-why {
  margin: auto;
  background: rgba(251, 218, 167, 1);
}
.e-a-why-container {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Blocco\ 2\ –\ La\ rete.png");

  margin: auto;
  padding: 20px 20px;
}
.e-a-why-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 20px;
}
.e-a-why-list {
  padding: 20px 0;
}
.e-a-why-item {
  margin: 0 10px;
  width: 335px;
  height: 362px;
  gap: 32px;
  border-radius: 12px;
  padding: 18px;
  background: rgba(247, 247, 245, 1);
  box-shadow: 0px 2px 30px 0px rgba(30, 30, 30, 0.05);
}
.e-a-why-img {
  width: 142px;
  height: 142px;
  border-radius: 22px;
  margin: auto;
}
.e-a-why-text-bold {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.e-a-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 18px;
}

@media screen and (min-width: 1200px) {
  .e-a-why-container {
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/Blocco\ 2\ –\ La\ rete\ \(1\).png");

    margin: auto;
    padding: 80px 87px;
  }
  .e-a-why-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    width: 994px;
    margin: auto;
    padding-top: 40px;
  }
  .e-a-why-list {
    padding: 29px 0 44px;
  }
  .e-a-why-item {
    margin: 0 10px;
    width: 589px;
    height: 214px;
    gap: 32px;
    border-radius: 12px;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .e-a-why-img {
    width: 142px;
    height: 142px;
    border-radius: 22px;
    margin: auto;
  }
  .e-a-why-text-bold {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-a-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 0px;
  }
}

.e-a-uniqueness {
  margin: auto;
  background: rgba(196, 215, 217, 1);
}
.e-a-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 1340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Blocco\ 1\ –\ Le\ fondatrici.png");

  padding: 596px 26px 0;
}
.e-a-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .e-a-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 700px;
    padding: 154px 90px 0 780px;
    background-image: url("/img/Blocco\ 1\ –\ Le\ fondatrici\ \(1\).png");
  }
  .e-a-uniqueness-text {
    padding-top: 40px;
    gap: 20px;
  }
}
.e-a-about {
  margin: auto;
  width: 375px;
  height: 1399px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/one/Blocco\ 2\ –\ Cosa\ creiamo.png");
}
.e-a-about-container {
  width: 375px;
  padding: 20px;
  margin: auto;
}
.e-a-about-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.e-a-about-title-two {
  text-align: center;
}
.e-a-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;

  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .e-a-about {
    width: 1440px;
    height: 600px;
    background-image: url("/img/one/Blocco\ 2\ –\ Cosa\ creiamo\ \(1\).png");
  }
  .e-a-about-container {
    width: 1440px;
    padding: 50px 82px;
  }
  .e-a-about-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 38px;
    text-transform: capitalize;
  }
  .e-a-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
  }
}
.e-a-about-one {
  margin: auto;
  width: 375px;
  height: 606px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/one/Blocco\ 4\ –\ Per\ chi\ è.png");
}
.e-a-about-container-one {
  width: 375px;
  padding: 20px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .e-a-about-one {
    width: 1440px;
    height: 600px;
    background-image: url("/img/one/Blocco\ 4\ –\ Per\ chi\ è\ \(1\).png");
  }
  .e-a-about-container-one {
    width: 1440px;
    padding: 50px 80px;
  }
}
.e-a-about-two {
  margin: auto;
  width: 375px;
  height: 790px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/two/Blocco\ 1\ –\ Tessitura\ a\ vento.png");
}
.e-a-about-container-two {
  width: 375px;
  padding: 80px 30px 0px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .e-a-about-two {
    margin: auto;
    width: 1440px;
    height: 600px;

    background-image: url("/img/two/Blocco\ 1\ –\ Tessitura\ a\ vento\ \(1\).png");
  }
  .e-a-about-container-two {
    width: 1440px;
    padding: 248px 90px 0 780px;
  }
}

.e-a-care {
  margin: auto;
  background: rgba(196, 215, 217, 1);
}
.e-a-care-container {
  width: 375px;
  height: 905px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/four/Dove\ trovarci.png");

  padding: 80px 30px 0px;
  margin: auto;
}
.e-a-care-item {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 40px 0 12px;
}
.e-a-care-itemq {
  font-family: Inter;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
}
.e-a-care-itemw {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .e-a-care-container {
    width: 1440px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/four/Dove\ trovarci\ \(1\).png");

    padding: 147px 80px 0px;
    margin: auto;
  }
}
.e-a-how {
  margin: auto;
  width: 375px;
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/two/Blocco\ 4\ –\ Tempo.png");
}
.e-a-how-container {
  margin: auto;
  width: 375px;
  padding: 20px 30px 0 20px;
}

@media screen and (min-width: 1200px) {
  .e-a-how {
    margin: auto;
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/two/Blocco\ 4\ –\ Tempo\ \(1\).png");
  }
  .e-a-how-container {
    margin: auto;
    width: 1440px;
    padding: 50px 80px;
  }
}
.e-a-characters {
  background: rgba(251, 218, 167, 1);
}
.e-a-characters-container {
  padding: 20px 30px;
  margin: auto;
  width: 375px;
  height: 990px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/two/Blocco\ 2\ –\ Materiali.png");
}

@media screen and (min-width: 1200px) {
  .e-a-characters-container {
    padding: 50px 730px 0px 80px;
    margin: auto;
    width: 1440px;
    height: 600px;
    background-image: url("/img/two/Blocco\ 2\ –\ Materiali\ \(1\).png");
  }
}

.e-a-reviews {
  margin: auto;
  background: rgba(251, 218, 167, 1);
}
.e-a-reviews-container {
  margin: auto;
  padding: 20px;
  width: 375px;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Blocco\ 3\ –\ Ispirazioni.png");
}
.e-a-reviews-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding: 30px 0 20px;
}
.e-a-reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.e-a-reviews-item {
  width: 335px;
  height: 192px;
  border-radius: 22px;
  padding: 16px;
  background: rgba(247, 247, 245, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}
.e-a-reviews-img {
  width: 160px;
  height: 160px;
  border-radius: 22px;
}
@media screen and (min-width: 1200px) {
  .e-a-reviews-container {
    margin: auto;
    padding: 50px 151px;
    width: 1440px;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/reviews/Blocco\ 3\ –\ Ispirazioni\ \(1\).png");
  }
  .e-a-reviews-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

    padding: 40px 0 20px;
  }
  .e-a-reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
  }

  .e-a-reviews-item {
    width: 560px;
    height: 192px;
    gap: 10px;
    border-radius: 22px;
    padding: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
  }
  .e-a-reviews-img {
    width: 160px;
    height: 160px;
    border-radius: 22px;
  }
}
.e-a-faq {
  margin: auto;
  background: rgba(221, 235, 236, 1);
}
.e-a-faq-container {
  padding: 20px 20px;
  width: 375px;
  height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/two/Blocco\ 3\ –\ Suono\ e\ movimento.png");

  margin: auto;
}

@media screen and (min-width: 1200px) {
  .e-a-faq-container {
    padding: 50px 334px;
    width: 1440px;
    height: 600px;
    margin: auto;
    background-image: url("/img/two/Blocco\ 3\ –\ Suono\ e\ movimento\ \(1\).png");
  }
}

.e-a-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.e-a-gallery-button-icon {
  width: 48px;
  height: 48px;
}
.e-a-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.e-a-gallery-button:hover {
  scale: 120%;
}

.e-a-features {
  margin: auto;
  width: 375px;
  height: 1020px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/four/Blocco\ 2\ –\ Contatti\ diretti.png");
}
.e-a-features-container {
  width: 375px;
  margin: auto;
  padding: 20px 20px 0;
}

.e-a-features-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.e-a-features-input {
  border: 1px solid rgba(228, 228, 228, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.e-a-features-textarea {
  height: 126px;
}
.e-a-features-button {
  border-radius: 12px;
  border-width: 2px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  background: rgba(255, 178, 60, 1);
  border: 2px solid rgba(255, 223, 174, 1);
  font-family: Inter;
  font-weight: 900;
  font-size: 15px;
  leading-trim: Cap height;
  line-height: 16px;
  letter-spacing: -5%;
  text-transform: uppercase;
  color: rgba(247, 247, 245, 1);
}
.e-a-features-div {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
}

.e-a-features-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(8, 10, 10, 1);
}
.e-a-features-text-bolds {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(8, 10, 10, 1);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .e-a-features {
    margin: auto;
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/four/Blocco\ 2\ –\ Contatti\ diretti\ \(1\).png");
  }
  .e-a-features-container {
    width: 1440px;
    margin: auto;
    padding: 50px 201px 0;
  }

  .e-a-features-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    width: 538px;
  }
}

.e-a-container {
  padding: 100px 20px 40px;
  width: 375px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  margin: auto;
}

.e-a-container h1 {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.e-a-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.e-a-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.e-a-container ul {
  margin-top: 10px;
}

.e-a-container ul li {
  margin-bottom: 10px;
}
.e-a-container p {
  margin-top: 10px;
}
.e-a-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.e-a-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1200px) {
  .e-a-container {
    padding: 140px 86px 40px;
    width: 1440px;
    margin: auto;
  }
}

.e-a-footer-container {
  width: 375px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba(196, 215, 217, 1);
}

.e-a-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.e-a-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  text-align: center;

  text-align: center;
}

.e-a-footer-copyright {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
}

@media screen and (min-width: 1200px) {
  .e-a-footer-container {
    width: 1440px;
    padding: 25px 0px;
  }

  .e-a-footer-wrapper {
    display: flex;
  }

  .e-a-footer-text {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;

    text-align: center;
  }

  .e-a-footer-copyright {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;

    text-align: center;
  }
}

.e-a-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 37px;
  border: 1px solid rgba(192, 192, 192, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.e-a-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;

  color: rgba(49, 49, 49, 1);
}

.e-a-cookie-button-container {
  padding: 36px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.e-a-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(192, 192, 192, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  background: rgba(255, 255, 255, 1);
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-width: 1px;
  border-radius: 56px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  border: 1px solid rgba(192, 192, 192, 1);
}

#accept-cookies {
  background: rgba(1, 1, 1, 1);

  color: rgba(255, 255, 255, 1);
}

.e-a-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .e-a-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-a-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;

    width: 648px;
  }

  .e-a-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .e-a-cookie-button {
    border: none;
    background-color: transparent;
    border: 1px solid rgba(192, 192, 192, 1);
    box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
    background: rgba(255, 255, 255, 1);
    padding-top: 18px;
    padding-right: 26px;
    padding-bottom: 18px;
    padding-left: 26px;
    border-width: 1px;
    border-radius: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;

    color: rgba(49, 49, 49, 1);
  }

  .e-a-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;
    padding: 32px 138px;
    display: none;
  }
}
